<div style="text-align:center">
        <!--<mdb-card>
        
          <mdb-card-header class="info-color white-text text-center"></mdb-card-header>
          Card content
          <mdb-card-body class="px-lg-5 pt-0">-->
              <h1>
                  {{ title }}
                </h1>
            <!--Form -->
            <form [formGroup]="employeeForm" class="text-center">
        
              <div class="form-row"> 
                
                
                  <div class="md-form">
                      <label for="materialRegisterFormFirstName">First name</label>
                    <input type="text" id="materialRegisterFormFirstName" class="form-control" formControlName="materialRegisterFormFirstName" mdbInput>
                    
                  
                </div>
                </div>
                <div class="form-row">
                  
                  <div class="md-form">
                      <label for="materialRegisterFormLastName">Last name</label>
                    <input type="text" id="materialRegisterFormLastName" class="form-control" formControlName="materialRegisterFormLastName" mdbInput>
                   
                  </div>
                </div>
              
               <div class="form-row">
                  
                  <div class="md-form">
                      <label for="materialRegisterFormGender">Gender</label>
                    <input type="text" id="materialRegisterFormGender" class="form-control" formControlName="materialRegisterFormGender" mdbInput>
                    
                  </div>
                </div>
                <div class="form-row">
                  
                  <div class="md-form">
                      <label for="materialRegisterFormDateofBirth">Date of Birth</label>
                    <input type="date" id="materialRegisterFormDateofBirth" class="form-control" formControlName="materialRegisterFormDateofBirth" mdbInput>
                    
                  </div>
                </div>
              
               <div class="form-row">
                  
                  <div class="md-form">
                      <label for="materialRegisterFormDepartment">Department</label>
                    <input type="text" id="materialRegisterFormDepartment" class="form-control" formControlName="materialRegisterFormDepartment" mdbInput>
                    
                  </div>
                </div>
                
                <button type="submit" class="btn btn-primary"
                (click)="submit()">Register</button>
            
        
           
        
            </form>
             <!--Form -->
        
          <!--</mdb-card-body>
        
        </mdb-card>-->
        <!--Material form register-->
        
        
        
        </div>