
h1{
    color: #c91258 ;
    font-family:'Broadway';
   }
   div {
       
       
           font-size: 15px;
             color:rgb(29, 28, 28);     
             font-family:'Arial Unicode MS';
           
             
             
             
       }
   
       .btn-primary {
         color: #fff;
         background-color: #c91258;
         border-color: #c91258 ;
       
       }
       .form-row{
         padding-left: 44%;
       }