h1{
    
        font-size: 20px;
          color:#c91258;     
          font-family:'Aharoni';
        
          
}
thead{
    
    font-size: 20px;
      color:rgb(29, 28, 28);     
      font-family:'Arial Unicode MS';
    
      
}
table {
    border-collapse: collapse;
    width: 50%;
  }
  .btn-primary {
    color: #fff;
    background-color: #c91258;
    border-color: #c91258 ;
  
  }
 
  
  